/* EventItem.css */
.event-item {
    padding: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    width: auto;
  }
  
  .event-item strong {
    font-size: 18px;
  }
  
  .event-item p {
    margin: 0;
  }
  
  .event-item button {
    background-color: #ff4500;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 5px;
  }
  
  .event-item button:hover {
    background-color: #d13200;
  }
  
  /* Add more styling as needed */
  